*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  
  background: url(img/bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  background: #2c3a47;
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #4e93d8, #e66767);
  margin: auto;
  border-radius: 10%;
  background-size: 150% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}
.pic .image{
  background: url("img/2.JPEG") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 15px;
  animation: slider 10s infinite linear;
}
@keyframes slider{
  0%{
    background-image: url("img/2.JPEG");
  }
  100%{
    background-image: url("img/1.JPEG");
  }

}
/* .pic img{
  display: block;
  height: 150px;
  border-radius: 10%;
} */

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.phn-mail{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left:0px;
  margin-top: 10px;
}
.phn-mail-box{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.phn-mail-box h4{
  margin-top: 9px;
  margin-right: 10px;

  color: #d2d8dd;
}
.phn-mail .phn-mail-box .phn-mail-box-call{
  display: inline-block;
  font-size: 10px;
  padding: 6px 6px;
  color: #e66767;
  border: 1px solid #e66767;
  border-radius: 6px;
  /* margin-top: 16px; */
  transition: .3s linear;
}
.phn-mail-box a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
  margin-block: 5px;
}

.phn-mail a:hover{
  color: #e66767;
}
.sm a{
  color: #f2f2f2;
  width: 100px;
  font-size: 30px;
  transition: .3s linear;
}

.sm a:hover{
  color: #e66767;
  font-size: 40px;
}

.contact-Protan .call-msg{
  padding-inline: 0px;
}


.fb-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fb-page h3{
  color: rgb(163, 195, 214);
}
.fb-page a{
  display: inline-block;
  padding: 12px 80px;
  color: #6f8ad4;
  font-weight: bolder;
  border: 2px solid #6f8ad4;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}
.fb-page a:hover{
  background: #6f8ad4;
  color: #f2f2f2;
  padding: 12px 80px;
  font-weight: bold;
}
.contact-btn{
  display: inline-block;
  padding: 12px 62px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #e66767;
  color: #f2f2f2;
}
.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact .call-msg{
  display: flex;
  height:40px;
  width: 112px;
  color: #6cca83;
  font-weight: bolder;
  border: 2px solid #6cca83;
  border-radius: 6px;
  margin-top: 16px;
  margin-inline: 5px;
  transition: .3s linear;
  align-items: center;
  justify-content: center;
  
}
.contact .call-msg:hover{
  background: #6cca83;
  color: #313131;
  /* padding: 12px px; */
  font-weight: bold;
}
.contact .wa-me{
  display: flex;
  height:40px;
  width: 112px;
  color: #e66767;
  font-weight: bolder;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  margin-inline: 5px;
  transition: .3s linear;
  align-items: center;
  justify-content: center;
  
}
.contact .wa-me:hover{
  background: #e66767;
  color: #313131;
  /* padding: 12px px; */
  font-weight: bold;
}
.card-footer{
  background: #f4f4f4;
  padding: 20px 10px;
  font-size: 10px;
}








